In [1]:
%matplotlib notebook

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter, AutoMinorLocator)
import scipy.stats as stats

In [3]:
# Read file with Net Migration numbers with origin and destination
Total_countries_GDP= pd.read_csv("Output/Data_for_plotting.csv")
#Total_countries_GDP = Total_countries_GDP.set_index("Origin")
#Total_countries_GDP = Total_countries_GDP.drop("Syrian Arab Republic", axis=0)
#Total_countries_GDP.head()

In [4]:
Total_countries_GDP["total_migrants"]= Total_countries_GDP.iloc[:,3:7].sum(axis=1)
Total_countries_GDP["total_economy"] = Total_countries_GDP.iloc[:,8:12].sum(axis=1)
Total_countries_GDP.head()

,Origin,Dev Level,Income Range,2005,2010,2015,2017,Indicator,2005.1,2010.1,2015.1,2017.1,total_migrants,total_economy
0,India,Less Developed,Lower-middle-income,9649626,13320745,15859419,16587070,"Personal remittances, received (% of GDP)",2.696926,3.191661,3.275817,2.600032,55416860,11.764436
1,India,Less Developed,Lower-middle-income,9649626,13320745,15859419,16587070,"Personal remittances, received (current US$)",22.125089,53.479960,68.909693,68.967175,55416860,213.481918
2,India,Less Developed,Lower-middle-income,9649626,13320745,15859419,16587070,GDP growth (annual %),7.923429,8.497587,7.996254,7.167889,55416860,31.585158
3,India,Less Developed,Lower-middle-income,9649626,13320745,15859419,16587070,GDP (current US$),820.000000,1680.000000,2100.000000,2650.000000,55416860,7250.000000
4,Mexico,Less Developed,Upper-middle-income,10816544,12413073,12546524,12964869,"Personal remittances, received (% of GDP)",2.591733,2.087373,2.241070,2.786574,48741010,9.706750

In [5]:
Total_2 = Total_countries_GDP.loc[Total_countries_GDP["Indicator"] == "Personal remittances, received (current US$)"].\
                                   groupby("Income Range")["total_economy"].sum()
Development = pd.DataFrame(Total_2)
Development

                     total_economy
Income Range
High-income             155.026201
Lower-middle-income     559.709740
Upper-middle-income     232.995131

In [6]:
Development["Avg"] = Development["total_economy"].mean()
Development

                     total_economy         Avg
Income Range
High-income             155.026201  315.910357
Lower-middle-income     559.709740  315.910357
Upper-middle-income     232.995131  315.910357

In [7]:
# With four rows, the degree of freedom is 4-1 = 3
# With a p-value of 0.05, the confidence level is 1.00-0.05 = 0.95
critical_value = stats.chi2.ppf(q = 0.95, df = 3)

In [8]:
critical_value

7.814727903251179

In [9]:
stats.chisquare(Development['total_economy'], Development['Avg'])

Power_divergenceResult(statistic=291.8447694773442, pvalue=4.2336360619936334e-64)