In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# Read file with Net Migration numbers with origin and destination
org_dest_csv = "../Resources/UN_MigrantStockByOriginAndDestination_2017.csv"
# read a catalog of countries with their respective destinations
country_cat_csv = "../Resources/Region_country_catalog.csv"

# Read data into Pandas data frames
org_dest_df = pd.read_csv(org_dest_csv)
country_cat_df = pd.read_csv(country_cat_csv)

In [36]:
# Columns with NO data come with "..", need to replace those with 0 
org_dest_df = org_dest_df.replace('..',0)

# join the numbers data to the catalog to get rid of all rows that DO NOT contain country information
new_country_data = pd.merge(country_cat_df,org_dest_df, on="Country")

,Country,Region,Year,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,Burundi,AFRICA,2005.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Burundi,AFRICA,2010.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Burundi,AFRICA,2015.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Burundi,AFRICA,2017.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Comoros,AFRICA,2005.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Comoros,AFRICA,2010.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Comoros,AFRICA,2015.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Comoros,AFRICA,2017.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Djibouti,AFRICA,2005.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,218,0,0
9,Djibouti,AFRICA,2010.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,240,0,0
10,Djibouti,AFRICA,2015.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,265,0,0
11,Djibouti,AFRICA,2017.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,273,0,0
12,Eritrea,AFRICA,2005.0,0,0,0,0,0,480,0,...,0,0,0,0,0,0,0,0,194,243
13,Eritrea,AFRICA,2010.0,0,0,0,0,0,341,0,...,0,0,0,0,0,0,0,0,237,319
14,Eritrea,AFRICA,2015.0,0,0,0,0,0,346,0,...,0,0,0,0,0,0,0,0,241,324
15,Eritrea,AFRICA,2017.0,0,0,0,0,0,348,0,...,0,0,0,0,0,0,0,0,242,326
16,Ethiopia,AFRICA,2005.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,107,0,0
17,Ethiopia,AFRICA,2010.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,118,0,0
18,Ethiopia,AFRICA,2015.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,145,0,0
19,Ethiopia,AFRICA,2017.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,153,0,0
20,Kenya,AFRICA,2005.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Kenya,AFRICA,2010.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Kenya,AFRICA,2015.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Kenya,AFRICA,2017.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Madagascar,AFRICA,2005.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Madagascar,AFRICA,2010.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Madagascar,AFRICA,2015.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Madagascar,AFRICA,2017.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Malawi,AFRICA,2005.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"43,640","37,861"
29,Malawi,AFRICA,2010.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"42,865","37,189"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,Cook Islands,OCEANIA,2015.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
887,Cook Islands,OCEANIA,2017.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
888,French Polynesia,OCEANIA,2005.0,0,0,743,0,0,0,0,...,0,0,230,0,0,36,0,0,0,0
889,French Polynesia,OCEANIA,2010.0,0,0,717,0,0,0,0,...,0,0,222,0,0,35,0,0,0,0
890,French Polynesia,OCEANIA,2015.0,0,0,681,0,0,0,0,...,0,0,210,0,0,33,0,0,0,0
891,French Polynesia,OCEANIA,2017.0,0,0,695,0,0,0,0,...,0,0,214,0,0,33,0,0,0,0
892,Niue,OCEANIA,2005.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
893,Niue,OCEANIA,2010.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
894,Niue,OCEANIA,2015.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
895,Niue,OCEANIA,2017.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
896,Samoa,OCEANIA,2005.0,0,0,0,"1,889",0,0,0,...,0,0,20,0,0,0,0,0,0,0
897,Samoa,OCEANIA,2010.0,0,0,0,"1,650",0,0,0,...,0,0,17,0,0,0,0,0,0,0
898,Samoa,OCEANIA,2015.0,0,0,0,"1,588",0,0,0,...,0,0,17,0,0,0,0,0,0,0
899,Samoa,OCEANIA,2017.0,0,0,0,"1,571",0,0,0,...,0,0,16,0,0,0,0,0,0,0
900,Tokelau,OCEANIA,2005.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
901,Tokelau,OCEANIA,2010.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
902,Tokelau,OCEANIA,2015.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
903,Tokelau,OCEANIA,2017.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
904,Tonga,OCEANIA,2005.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
905,Tonga,OCEANIA,2010.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
906,Tonga,OCEANIA,2015.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
907,Tonga,OCEANIA,2017.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
908,Tuvalu,OCEANIA,2005.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
909,Tuvalu,OCEANIA,2010.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
910,Tuvalu,OCEANIA,2015.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
911,Tuvalu,OCEANIA,2017.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
912,Wallis and Futuna Islands,OCEANIA,2005.0,0,0,0,0,0,0,0,...,0,0,194,0,0,0,0,0,0,0
913,Wallis and Futuna Islands,OCEANIA,2010.0,0,0,0,0,0,0,0,...,0,0,208,0,0,0,0,0,0,0
914,Wallis and Futuna Islands,OCEANIA,2015.0,0,0,0,0,0,0,0,...,0,0,247,0,0,0,0,0,0,0
915,Wallis and Futuna Islands,OCEANIA,2017.0,0,0,0,0,0,0,0,...,0,0,240,0,0,0,0,0,0,0

In [57]:
# Use melt function to convert countries' columns into rows keeping values for "Country","Region" and "Year"

# Store the column names we want to melt in a list to be used in the melt operation
lst_ctry = new_country_data.columns[3:]

# melt columns into rows
origin_data_df = pd.melt(new_country_data,id_vars=["Country","Region","Year"], value_vars=lst_ctry,\
                    var_name='Origin', value_name='Net Immigrants')
origin_data_df.replace({'Net Immigrants': ','}, {'Net Immigrants': ''}, regex=True, inplace=True)
origin_data_df[['Year','Net Immigrants']] = origin_data_df[['Year','Net Immigrants']].applymap(np.int64)
origin_data_df.groupby("Origin").agg({'Net Immigrants': 'sum'}).\
    sort_values('Net Immigrants', ascending=False).head(20)

origin_data_df.columns = ["Destination","DRegion","Year","Country","Net Immigrants"]
origin_data_df = pd.merge(country_cat_df,origin_data_df, on="Country")
origin_data_df.head()

   Country  Region Destination DRegion  Year  Net Immigrants
0  Burundi  AFRICA     Burundi  AFRICA  2005               0
1  Burundi  AFRICA     Burundi  AFRICA  2010               0
2  Burundi  AFRICA     Burundi  AFRICA  2015               0
3  Burundi  AFRICA     Burundi  AFRICA  2017               0
4  Burundi  AFRICA     Comoros  AFRICA  2005               0

In [60]:
origin_data_df.columns = ["Origin","ORegion","Destination","DRegion","Year","Net Immigrants"]
origin_data_df.groupby("ORegion").agg({'Net Immigrants': 'sum'}).sort_values('Net Immigrants', ascending=False)

#origin_data_df.head()

                  Net Immigrants
ORegion
ASIA                   367861641
EUROPE                 226086577
LA AND CARIBBEAN       138175367
AFRICA                 112093301
NORTHERN AMERICA        16137600
OCEANIA                  6669615

In [64]:
#origin_data_df.groupby("Destination").agg({'Net Immigrants': 'sum'}).\
#    sort_values('Net Immigrants', ascending=False).head(10)
origin_data_df.groupby("DRegion").agg({'Net Immigrants': 'sum'}).sort_values('Net Immigrants', ascending=False)

                  Net Immigrants
DRegion
EUROPE                 281708316
ASIA                   261837908
NORTHERN AMERICA       200578454
AFRICA                  60816760
LA AND CARIBBEAN        32907648
OCEANIA                 29175015

In [12]:
origin_data_df.groupby(["Origin","Year"]).agg({'Net Immigrants': 'sum'}). \
    sort_values('Net Immigrants', ascending=False).unstack()

                                   Net Immigrants
Year                                         2005     2010     2015     2017
Origin
Afghanistan                               3826255  4989209  4855376  4826464
Albania                                    965066  1129071  1137917  1148144
Algeria                                   1588723  1630181  1785555  1792712
American Samoa                               2678     1975     2035     2037
Andorra                                      5762     7120     7589     7653
Angola                                     680405   624284   611320   632699
Anguilla                                     3058     2256     2248     2294
Antigua and Barbuda                         37506    41195    48976    50179
Argentina                                  813610   943665   952944   977188
Armenia                                    899820   921753   946246   951023
Aruba                                       13036    12771    15154    15782
Australia                                  428411   484511   520982   541616
Austria                                    493066   515071   532718   586161
Azerbaijan                                1447059  1177772  1145889  1155381
Bahamas                                     34753    35733    40259    41602
Bahrain                                     52484    53756    56304    57749
Bangladesh                                5765158  6742845  7246726  7499919
Barbados                                    93641    94767    94832    98273
Belarus                                   1584067  1469332  1473782  1484875
Belgium                                    438642   491728   541467   562534
Belize                                      51850    57314    61213    63233
Benin                                      438891   476046   554491   573389
Bermuda                                     14932    15848    15885    16496
Bhutan                                     117860    86162    44041    43970
Bolivia (Plurinational State of)           544436   781490   795729   820722
Bosnia and Herzegovina                    1490861  1575669  1611438  1659852
Botswana                                    30883    47041    76030    80103
Brazil                                    1218233  1531491  1557293  1612860
British Virgin Islands                       5869     4425     4491     4573
Brunei Darussalam                           44811    45420    44992    45458
...                                           ...      ...      ...      ...
TFYR Macedonia                             459339   465416   497411   534720
Tajikistan                                 544945   581539   583704   578529
Thailand                                   631993   766543   861576   902928
Timor-Leste                                 94995    34975    37759    38951
Togo                                       323298   335001   388164   403565
Tokelau                                      2070     2158     2254     2324
Tonga                                       48558    51812    58438    60258
Trinidad and Tobago                        323024   351240   360800   373429
Tunisia                                    572919   599051   752714   767155
Turkey                                    2693172  2695109  3100282  3418932
Turkmenistan                               229241   237009   241393   243202
Turks and Caicos Islands                     1236     1724     1843     1912
Tuvalu                                       2927     3276     3483     3546
Uganda                                     557486   702606   732235   739667
Ukraine                                   5567494  5458664  5842594  5941653
United Arab Emirates                       105041   122872   135577   143150
United Kingdom                            4140641  4461688  4726184  4921285
United Republic of Tanzania                238881   267834   306356   324394
United States Virgin Islands                 3771     3214     3297     3333
United States of America                  2285444  2654105  2918838  3016349
Uruguay                                    297320   335034   348569   358723
Uzbekistan                                1752804  1900634  1973283  1991941
Vanuatu                                      7444     7941     8569     8785
Venezuela (Bolivarian Republic of)         437280   554996   638899   655615
Viet Nam                                  2084889  2354845  2626924  2727398
Wallis and Futuna Islands                    7437     7461     7843     8058
Western Sahara                             131088   144296   187287   193687
Yemen                                      630975   879636  1089146  1190005
Zambia                                     178057   213589   263912   275089
Zimbabwe                                   478835   813942   966782  1025204

[232 rows x 4 columns]

In [ ]:
# Write the new dataframe to a new CSV file
#orig_dest_df.to_csv("Output/Clean_Orig_Dest.csv", index=False, header=True)