In [4]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({
    "One": ["one","two","three"],
    "TWo": [2,5,3]
})

In [6]:
df1

     One  TWo
0    one    2
1    two    5
2  three    3

In [7]:
df1["color"] = ["blue", "red", "green"]

In [8]:
df1

     One  TWo  color
0    one    2   blue
1    two    5    red
2  three    3  green